/* fonts */

@import url("https://p.typekit.net/p.css?s=1&k=nbi3yik&ht=tk&f=17080.18366&a=139238061&app=typekit&e=css");

@font-face {
    font-family: "cronos-pro-display";
    src: url("https://use.typekit.net/af/1c7722/00000000000000007735d8a0/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/1c7722/00000000000000007735d8a0/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/1c7722/00000000000000007735d8a0/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "adobe-jenson-pro-display";
    src: url("https://use.typekit.net/af/6c8c72/00000000000000007735d86f/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/6c8c72/00000000000000007735d86f/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/6c8c72/00000000000000007735d86f/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

.tk-cronos-pro-display {
    font-family: "cronos-pro-display", sans-serif;
}

.tk-adobe-jenson-pro-display {
    font-family: "adobe-jenson-pro-display", serif;
}





/*NAVBAR*/
/* buttons */

a:link,
a:visited {
    background-color: #E5F1CD;
    color: #5D5C1B;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

/* dropdown */

.dropbtn {
    background-color: #E5F1CD;
    color: #5D5C1B;
    font-size: 20px;
    padding: 14px 25px;
    border: 3px;
    border-color: #5D5C1B;
    font-family: "adobe-jenson-pro-display", serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E5F1CD;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 3px;
    font-size: 20px;
}

.dropdown-content a {
    color: #5D5C1B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
}

.dropdown-content a:hover {
    font-size: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-size: 20px;
}

.dropdown:hover .dropbtn {

    font-size: 20px;
}

/* body */

body {

    background-color: #E5F1CD;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #E5F1CD;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    font-family: cronos-pro-display, sans-serif;
    color: #5D5C1B;
    font-size: 48px;
    width: 1240px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    background-color: #E5F1CD;
    top: 0;
    z-index: 1;
}

#navbar {
    background-color: #E5F1CD;
    padding-top: 30px;
    position: relative;
    font-size: 20px;
    float: right;
    margin-top: -95px;
    font-family: "adobe-jenson-pro-display", serif;
}

.homeimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
    height: 830px;

}

.homepageimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
    height: 830px;




}

u {
    text-decoration: underline;
    font-size: 20px;
}

#dropdown-content {
    font-size: 20px;
}

/*NAVBAR*/

/*ABOUT COLUMNS*/
* {
    box-sizing: border-box;
}


.aboutcolumn {
    float: left;
    width: 50%;
    background-color: #5D5C1B;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 94px;
    padding-top: 94px;
    height: 900px;
    width: 620px;
    margin-left: 100px;

}



.aboutcolumn2 {
    float: left;
    width: 50%;
    background-color: #5D5C1B;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 64px;
    padding-right: 64px;
    height: 900px;
    width: 620px;
    margin: auto;

}


.aboutrow:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 620px) {
    .aboutcolumn {
        width: 100%;
    }

    .aboutcolumn2 {
        width: 100%;
    }
}


.aboutimg {
    margin: auto;

}

h2 {
    width: 505px;
    color: #E5F1CD;
    font-family: cronos-pro-display, sans-serif;
    font-size: 30px;
}

p {
    width: 505px;
    color: #E5F1CD;
    font-family: "adobe-jenson-pro-display", serif;
    font-size: 20px;
}

/*ABOUT COLUMNS*/




/*GRAPHIC DESIGN PAGE START*/
h3 {

    font-size: 30px;
    font-family: "adobe-jenson-pro-bold--display";
}

h4 {
    font-size: 30px;
    height: 100px;

}



.portfolioimg {
    display: block;
    height: 500px;
    margin-left: auto;
    margin-right: auto;

}

.portfolio {
    background-color: #5D5C1B;
    width: 850px;
    color: #E5F1CD;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    height: 660px;
    align-content: center;
    padding: 20px;

}



/*PROJECT OVERLAY*/

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.gdimage {
    display: block;
    width: 400px;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #5D5C1B;
    color: #E5F1CD;
}

.container:hover .overlay {
    opacity: 1;
}

.icon {
    background-color: #5D5C1B;
    color: #E5F1CD;
    font-size: 30px;
    font-family: "adobe-jenson-pro-bold-display";
    font-size: 100px;
    width: 400px;
    height: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;

}

.fa-user:hover {
    color: #eee;
}

/*PROJECT OVERLAY END*/


table {
    max-width: 1240px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

}

th,
td {

    width: 400px;
}

.label {
    background-color: #5D5C1B;
    width: 1240px;
    color: #E5F1CD;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    height: 100px;
    align-content: center;
    padding-left: 20px;
}
.projectheader {
    background-color: #5D5C1B;
    width: 1240px;
    color: #E5F1CD;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    align-content: center;
    padding: 30px;
  
    
}


.projectdescription {
    background-color: #E5F1CD;
    width: 1240px;
    color: #5D5C1B;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    align-content: center;
    padding: 30px;
  font-family: cronos-pro-display, sans-serif;
    
}


.genre {
    background-color: #E5F1CD;
    width: 1240px;
    color: #5D5C1B;

    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    height: 100px;
    align-content: center;
    padding-left: 0px;


}



    {
    box-sizing: border-box;
}


.printcolumn {
    float: left;
    width: 50%;
    background-color: #E5F1CD;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 94px;
    padding-top: 94px;
    height: 1000px;
    width: 620px;
    margin-left: 110px;

}



.printcolumn2 {
    float: left;
    width: 50%;
    background-color: #E5F1CD;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 64px;
    padding-right: 64px;
    height: 828px;
    width: 620px;
    margin: auto;

}


.printrow:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 720px) {
    .printcolumn {
        width: 100%;
    }

    .printcolumn2 {
        width: 100%;
    }
}


.printimg {
    margin: auto;

}




/*WORK PAGE COLUMNS*/
/*div.gallery {
  border: none;
}

div.gallery:hover {
  border: 1px solid #5D5C1B;
}

div.gallery img {
  width: 100%;
  
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 620px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 620px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.gallerycontainer{
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    
}
*/




* {
    box-sizing: border-box;
}


.workcolumn {
    float: left;
    width: 50%;
    background-color: #5D5C1B;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 64px;
    padding-right: 64px;
margin-left: 100px;
    width: 620px;
    
   

}



.workcolumn2 {
    float: left;
    width: 50%;
     background-color: #E5F1CD;
    margin: auto;
    


    width: 620px;
    
    object-fit: contain;

}

.workcolumn3 {
    float: left;
    width: 50%;
    background-color: #E5F1CD;
    
    width: 620px;
    margin-left:100px;

}
.workcolumn4 {
    float: left;
    width: 100%;
    background-color: #E5F1CD;
    
    width: 1240px;
    margin-left:100px;

}

.workrow:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 620px) {
    .aboutcolumn {
        width: 100%;
    }

    .aboutcolumn2 {
        width: 100%;
    }
}


.workimg {
    


}

.workwidth {
    
    align-content: center;

}

h2 {
    width: 505px;
    color: #E5F1CD;
    font-family: cronos-pro-display, sans-serif;
    font-size: 30px;
}

p {
    width: 505px;
    color: #E5F1CD;
    font-family: "adobe-jenson-pro-display", serif;
    font-size: 20px;
}

/*WORK PAGE COLUMNS*/

/*GRAPHIC DESIGN PAGE END*/





/*CONTACT PAGE*/
/*input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #E5F1CD;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #E5F1CD;
    color: #5D5C1B;
    font-family: "adobe-jenson-pro-bold-display", serif;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #E5F1CD;
    color: #5D5C1B;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    text-decoration: underline;

}*/

.contactcontainer {
    border-radius: 5px;
    background-color: #5D5C1B;
    padding: 20px;
    color: #E5F1CD;
    font-family: cronos-pro-display, sans-serif;
    font-size: 20px;
    width: 1240px;
    margin: auto;
}


.contacth {
    font-family: cronos-pro-display, sans-serif;
    font-size: 30px;


}

/*.contactcol-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.contactcol-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}*/


/*.contactrow:after {
    content: "";
    display: table;
    clear: both;
}
*/


/*@media screen and (max-width: 600px) {

    .contactcol-25,
    .contactcol-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
*/

/*CONTACT PAGE*/
