/* fonts */

@import url("https://p.typekit.net/p.css?s=1&k=nbi3yik&ht=tk&f=17080.18366&a=139238061&app=typekit&e=css");

@font-face {
    font-family: "cronos-pro-display";
    src: url("https://use.typekit.net/af/1c7722/00000000000000007735d8a0/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/1c7722/00000000000000007735d8a0/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/1c7722/00000000000000007735d8a0/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "adobe-jenson-pro-display";
    src: url("https://use.typekit.net/af/6c8c72/00000000000000007735d86f/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/6c8c72/00000000000000007735d86f/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/6c8c72/00000000000000007735d86f/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

.tk-cronos-pro-display {
    font-family: "cronos-pro-display", sans-serif;
}

.tk-adobe-jenson-pro-display {
    font-family: "adobe-jenson-pro-display", serif;
}






/*NAVBAR*/
/* buttons */

a:link,
a:visited {
    background-color: none;
    color: #5D5C1B;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#title {
    display: block;
    background-color: none;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    z-index: 1;

}

.logo {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    background-color: none;
    font-family: cronos-pro-display, sans-serif;


}

.topnav {
    background-color: none;
    overflow: hidden;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top: -60px;

}

.topnav > a {
    float: right;
    display: block;
    color: #5D5C1B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "adobe-jenson-pro-display", serif;
    border-radius: 25px;

}

.topnav .clicky {
    display: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    border-radius:25px;
    outline: none;
    color: #5D5C1B;
    padding: 14px 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-family: "adobe-jenson-pro-display", serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: relative;
    max-width: 200px;
    z-index: 2;
}

.dropdown-content > a {
    float: none;
    color: relative;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: "adobe-jenson-pro-display", serif;

}


.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #5D5C1B;
    color: #E5F1CD;
}

.dropdown-content a:hover {
    background-color: relative;
    color: #E5F1CD;
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media screen and (max-width: 620px) {

    .topnav a,
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.clicky {
        float: right;
        display: block;

    }
}

@media screen and (max-width: 620px) {
    .topnav.responsive{
        position: relative;
    }

    .topnav.responsive a.clicky {
        position: absolute;
        right: 0;
        top: 0;

    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
        margin-top: 50px;
    }
}

/* body */

body {

    background-color: #E5F1CD;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.homeimg {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
    max-height: 830px;

}

.homepageimg {

    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
    max-height: 830px;
    height: 100%;
    width: 100%;





}

u {
    text-decoration: underline;
    font-size: 20px;
}

#dropdown-content {
    font-size: 20px;
}

/*NAVBAR*/

/*ABOUT COLUMNS*/
* {
    box-sizing: border-box;
}


.aboutcolumn {
    width: 50%;
    background-color: #E5F1CD;
    align-content: center;

    height: 755px;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;

}



.aboutcolumn2 {
    float: left;
    width: 50%;
    background-color: #E5F1CD;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 64px;
    padding-right: 64px;
    min-height: 755px;
    max-width: 620px;
    margin: auto;
}

.aboutrow {
    display: flex;
    flex-wrap: wrap;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}




.aboutimg {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
   max-width: 509px;
    height: auto;

}


/*I AM WORKING ON MOVING IMAGE TO THE CENTER
*/


@media (max-width:1200px) {
    .aboutcolumn {
        display: flex;
        flex-wrap: wrap;
        flex: 100%;
        max-width: 100%;
    }
}

@media (max-width:1200px) {
    .aboutcolumn2 {

        flex-wrap: wrap;
        flex: 100%;
        max-width: 100%;
    }
}

/*ABOUT COLUMNS*/




/*GRAPHIC DESIGN PAGE START*/
h3 {

    font-size: 30px;
    font-family: "adobe-jenson-pro-bold--display";
}

h4 {
    font-size: 30px;
    height: 100px;

}



.portfolioimg {
    height: 100%;
    width: 100%;
    max-height: 500px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.portfolio {
    display: flex;
    background-color: #5D5C1B;
    max-width: 850px;
    color: #E5F1CD;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    max-height: 660px;
    align-content: center;

    padding: 20px;

}

.portfoliolink {
    display: block;
    max-height: 500px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}


/*PROJECT OVERLAY*/

.container {
    position: relative;
    width: 100%;
    max-width: 49%;
    margin: 5px;
}

/*@media (max-width:1200px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex: 49%;
        max-width: 49%;
    }
}*/

@media (max-width:1000px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex: 100%;
        max-width: 100%;
    }
}


.gdimage {
    display: block;
    padding: 5px;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
color:#E5F1CD;
}

.container:hover .overlay {
    opacity: 0.9;
}

.icon {
    background-color:#E5F1CD;
    color: #E5F1CD;
    font-size: 30px;
    font-family: "adobe-jenson-pro-bold-display";
    font-size: 100px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;

}

.fa-user:hover {
    color: #eee;
}

/*PROJECT OVERLAY END*/


table {
    max-width: 1240px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}

/*th,
td {

    width: 400px;
}*/


.gdcontainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}


.label {

    background-color: #5D5C1B;
    max-width: 1240px;
    color: #E5F1CD;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    height: 100px;
    align-content: center;
    padding-left: 20px;
}

.projectheader {
    background-color: #E5F1CD;
    max-width: 900px;
    color: #5D5C1B;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
}


.projectdescription {
    background-color: #E5F1CD;
    max-width: 1240px;
    color: #5D5C1B;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: cronos-pro-display, sans-serif;

}


.genre {
    background-color: #E5F1CD;
    max-width: 1240px;
    color: #5D5C1B;

    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    height: 100px;
    align-content: center;
    padding-left: 0px;


}






.printcolumn {
    float: left;
    width: 50%;
    background-color: #E5F1CD;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 94px;
    padding-top: 94px;
    height: 1000px;
    width: 620px;
    margin-left: 110px;

}



.printcolumn2 {
    float: left;
    width: 50%;
    background-color: #E5F1CD;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 64px;
    padding-right: 64px;
    height: 828px;
    width: 620px;
    margin: auto;

}


.printrow:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 720px) {
    .printcolumn {
        width: 100%;
    }

    .printcolumn2 {
        width: 100%;
    }
}


.printimg {
    margin: auto;

}




/*WORK PAGE COLUMNS*/
/*div.gallery {
  border: none;
}

div.gallery:hover {
  border: 1px solid #5D5C1B;
}

div.gallery img {
  width: 100%;
  
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 620px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 620px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.gallerycontainer{
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    
}
*/




* {
    box-sizing: border-box;
}

.rowcontainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.workimage {
    display: block;

    width: 100%;
    height: auto;
}



.workcontainer {
    position: relative;
    width: 100%;
    max-width: 50%;
}

@media (max-width:1200px) {
    .workcontainer {
        display: flex;
        flex-wrap: wrap;
        flex: 100%;
        max-width: 100%;
    }
}





.wordcontainer {
    float: left;
    width: 50%;
    background-color: #5D5C1B;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;



}

@media (max-width:1200px) {
    .wordcontainer {
        display: flex;
        flex-wrap: wrap;
        flex: 100%;
        max-width: 100%;

    }
}

.workcolumn2 {
    float: left;
    width: 50%;

    height: auto;
    width: 620px;

    margin: auto;

}

.workcolumn3 {
    float: left;
    width: 50%;
    background-color: #E5F1CD;

    margin: auto;


}

/*when smaller, make column align center and fill space
*/

.workcolumn4 {
    width: 100%;
    background-color: #E5F1CD;

    width: 1240px;
    height: 100%;
    width: 100%;
    max-height: inherit;
    margin-left: auto;
    margin-right: auto;
    display: flex;


}



.workrow {
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
}



.workrow:after {
    content: "";
    display: table;
    clear: both;
}








.workwidth {
    float: left;
    width: 100%;

    display: flex;


    max-width: 620px;
    margin: auto;
    align-content: center;

}

h2 {

    color: #5D5C1B;
    font-family: cronos-pro-display, sans-serif;
    font-size: 30px;
}

p {

    color: #5D5C1B;
    font-family: "adobe-jenson-pro-display", serif;
    font-size: 20px;
    display: contents;
}

.bigworkwidth {
    float: left;
    width: 100%;

    display: flex;


    max-width: 1240px;
    margin: auto;
    align-content: center;

}


/*WORK PAGE COLUMNS*/
#footer {
    display: block;
    background-color: #5D5C1B;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
    height: 100px;
}

.fa-instagram {
  background: #125688;
  color: white;
}
/*GRAPHIC DESIGN PAGE END*/





