/* fonts */

@import url("https://p.typekit.net/p.css?s=1&k=nbi3yik&ht=tk&f=17080.18366&a=139238061&app=typekit&e=css");

@font-face {
font-family:"cronos-pro-display";
src:url("https://use.typekit.net/af/1c7722/00000000000000007735d8a0/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1c7722/00000000000000007735d8a0/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1c7722/00000000000000007735d8a0/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"adobe-jenson-pro-display";
src:url("https://use.typekit.net/af/6c8c72/00000000000000007735d86f/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/6c8c72/00000000000000007735d86f/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/6c8c72/00000000000000007735d86f/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-cronos-pro-display { font-family: "cronos-pro-display",sans-serif; }
.tk-adobe-jenson-pro-display { font-family: "adobe-jenson-pro-display",serif; }

/* buttons */

a:link,
a:visited {
    background-color: #E5F1CD;
    color: #5D5C1B;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

/* dropdown */

.dropbtn {
    background-color: #E5F1CD;
    color: #5D5C1B;
    font-size: 20px;
    padding: 14px 25px;
    border: 3px;
    border-color: #5D5C1B;
    font-family: "adobe-jenson-pro-display", serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 20px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E5F1CD;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 3px;
    font-size: 20px;

}

.dropdown-content a {
    color: #5D5C1B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;

}

.dropdown-content a:hover {

    font-size: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-size: 20px;
}

.dropdown:hover .dropbtn {

    font-size: 20px;
}

/* body */

body {

    background-color: #E5F1CD;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#header {
    background-color: #E5F1CD;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;


}

#title {
    font-family: cronos-pro-display, sans-serif;
    color: #5D5C1B;
    font-size: 48px;
    width: 1240px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    background-color: #E5F1CD;
    top: 0;

}

#navbar {
    background-color: #E5F1CD;
    padding-top: 30px;
    position: relative;
    font-size: 20px;
    float: right;
  margin-top: -95px;
    font-family: "adobe-jenson-pro-display", serif;

}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
    height: 830px;


}


u {
    text-decoration: underline;
    font-size: 20px;
}

#dropdown-content {
    font-size: 20px;
}
